.comment-card__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment-card__name {
    color: #3a4374;
    font-size: 13px;
    letter-spacing: -0.18px;
    font-weight: var(--bold);
}

.comment-card__username {
    color: #647196;
    font-size: 13px;
    font-weight: var(--light);
}

.comment-card__reply-button {
    color: #4661e6;
    font-size: 13px;
    font-weight: var(--bold);
    text-decoration: none;
}

.comment-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-card__text {
    font-size: 13px;
    font-weight: var(--light);
    margin-top: 15px;
    color: #647196;
}

.comment-card__user-info {
    flex-grow: 1;
    margin-left: 20px;
}

.comment-card__mention {
    color: #ad1fea;
    font-weight: var(--bold);
    margin-right: 5px;
}

.comment-card__divider {
    width: 2px;
    background-color: #8c92b3;
    margin-right: 1rem;
    opacity: 25%;
}

.comment-card__replies {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
}

.comment-card__replies-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
