.pill__button {
    height: 30px;
    padding: 5px 10px;
    background-color: #f2f4ff;
    color: #4661e6;
    font-size: 13px;
    font-weight: var(--bold);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.pill__button:hover {
    background-color: #4661e6;
    color: #f2f4ff;
}

.pill__button__active {
    background-color: #4661e6;
    color: #f2f4ff;
}
