.feedback-card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
}

.feedback-card__link {
    text-decoration: none;
    cursor: pointer;
}

.feedback-card__text {
    font-size: 13px;
}

.feedback-card__text--title {
    color: #3a4374;
    font-weight: var(--bold);
    letter-spacing: -0.18px;
    margin-bottom: 10px;
}

.feedback-card__text--description {
    color: #647196;
    font-weight: var(--light);
    margin-bottom: 10px;
}

.feedback-card__text--category {
    color: #4661e6;
    font-weight: var(--bold);
    padding: 5px 15px;
    background-color: #f2f4ff;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.feedback-card__text--bold {
    font-weight: var(--bold);
}

.feedback-card__pill {
    display: flex;
    width: 69px;
    height: 32px;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-around;
}

.feedback-card__pill--dark {
    background-color: #f2f4ff;
    border-radius: 10px;
}

.feedback-card__pill--dark:hover {
    background-color: #cfd7ff;
}

.feedback-card__pill--selected {
    background-color: #4661e6;
    color: #ffffff;
    border-radius: 10px;
}

.feedback-card > div:nth-child(1) {
    order: 1;
    flex-basis: 100%;
}

.feedback-card > div:nth-child(2) {
    order: 2;
}

.feedback-card > div:nth-child(3) {
    order: 3;
    margin-left: auto;
}

.feedback-card__arrow--selected {
    filter: var(--white-filter);
}

@media (min-width: 768px) {
    .feedback-card {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 151px;
        min-width: 689px;
    }

    .feedback-card > div:nth-child(2) {
        order: 1;
        flex-direction: column;
        height: 53px;
        width: 40px;
    }

    .feedback-card > div:nth-child(1) {
        order: 2;
        flex: 1;
        flex-basis: auto;
        margin-left: 50px;
    }

    .feedback-card > div:nth-child(3) {
        order: 3;
        margin-left: 0;
    }

    .feedback-card__text {
        font-size: 16px;
    }
}
