@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bold: 600;
    --light: 300;

    --white-filter: invert(99%) sepia(64%) saturate(0%) hue-rotate(224deg) brightness(116%) contrast(100%);
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #f7f8fd;
}

@media screen and (min-width: 768px) {
    body {
        padding: 60px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
